<%- include('./partials/header') %>

<h1>Author: <%= author.name %></h1>
<p><%= author.lifespan %></p>
<br>

<% if (books.length) { %>

    <% books.forEach(book => { %>
     <a href=<%= book.url %>><%= book.title %></a>
     <p><%= book.summary %></p>
    <% }) %>

<% } else { %>
    <p>Author has no books.</p>
<% } %>

<hr>
<p><a href="<%= author.url %>/update">Update author</a></p>
<p><a href="<%= author.url %>/delete">Delete author</a></p>
<%- include('./partials/footer') %>