<%- include('./partials/header') %>

<h1>Genre: <%= genre.name %></h1>
<br>
<h3>Books</h3>

<% if (genre_books.length) { %>
<ul>
  <% genre_books.forEach(book => { %>
  <li>
    <a href=<%= book.url %>><%= book.title %></a>
    <p><%= book.summary %></p>
  </li>
  <% }) %>
</ul>
<%} else { %>
<p>There are no books in this genre.</p>
<% } %>

<p><a href="<%= genre.url %>/update">Update Genre</a></p>
<p><a href="<%= genre.url %>/delete">Delete Genre</a></p>
<%- include('./partials/footer') %>