<%- include('./partials/header') %>
<h1><%= title %></h1>
<p>
  Welcome to <%= title %>, a very basic Express website developed as a tutorial
  example on MDN
</p>

<h2>Dynamic Content</h2>
<p>Books: <%= book_count %></p>
<p>Copies: <%= book_instance_count %></p>
<p>Copies Available: <%= book_instance_available_count %></p>
<p>Authors: <%= author_count %></p>
<p>Genres: <%= genre_count %></p>
<%- include('./partials/footer') %>